<div class="jumbotron">
  <h1 class="display-4">Welcome to your checklist</h1>
  <p class="lead">Keep track your todo list</p>
  <hr class="my-4">
  <p>add your items and check your list and organize your priority</p>
  <p class="lead">
  
    <%= link_to 'Sign Up', new_user_registration_path , class: "btn btn-primary btn-lg" %>
  </p>
</div>